:root{ 
  --verde:#198754;
  --verde-escuro:#146c43;
  --texto:#212529;
}

html,body{height:100%}
body{
  margin:0;
  color:var(--texto);
  min-height:100vh;
  display:flex;
  flex-direction:column;
  padding-bottom:72px;
}

.card-body ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

main{
  flex:1 0 auto;
  padding-bottom:2rem;
  min-height:120vh;
}
.btn-success{
  background-color:var(--verde);
  border-color:var(--verde-escuro);
}
.btn-success:hover{
  background-color:var(--verde-escuro);
  border-color:var(--verde-escuro);
}
.background-img-fogueira {
  width: 100%; 
  height: 400px;
  background-image: url('../imagens/fogueira.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-color: dimgray;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 250px;
}
.titulo{
text-align: center;
background-color: lightgreen;
border-style:inset;
}
.conteudo{
text-align: justify;
}
main.container.alp{
  padding: 0px,0px,0px,0px;
}
main.container.trilhas{
  padding: 0px,0px,0px,0px;
}
small.faixa{
  font-family:cursive;
  border: none;
  border-radius: 20px 10px;
  background: yellowgreen;
}
h1.Principal{
  text-align: center;
  font-family: 'Lucida Handwriting', cursive;
  color: var(--verde);
  margin-top: 50px;
  margin-bottom: 50px;
}