:root{ 
  --verde:#198754;
  --verde-escuro:#146c43;
  --texto:#212529;
}

html,body{height:100%}
body{
  margin:0;
  color:var(--texto);
  min-height:100vh;
  display:flex;
  flex-direction:column;
  padding-bottom:72px;
}

.card-body ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

main{
  flex:1 0 auto;
  padding-bottom:2rem;
  min-height:120vh;
}

#mainContatos{
  flex:1 0 auto;
  padding-bottom:2rem;
  min-height:140vh;
}

#mapPoint {
  height: 380px;
  border-radius: .25rem;
}

.navbar-brand img{
  height:36px;
  width:auto;
  margin-right:.5rem;
  vertical-align:middle;
}

header.hero-min{
  background:linear-gradient(0deg,var(--verde-escuro),var(--verde));
  color:#fff;
  padding:40px 0;
  text-align:center;
}

.hero-logo{height:40px;width:auto}

aside.sticky{position:sticky;top:1rem}

.carousel-img{
  height:380px;
  width:100%;
  object-fit:cover;
  object-position:center;
}
@media (max-width:991.98px){.carousel-img{height:320px}}
@media (max-width:767.98px){.carousel-img{height:260px}}
@media (max-width:575.98px){.carousel-img{height:220px}}

.card img{object-fit:cover;height:180px}

.btn-success{
  background-color:var(--verde);
  border-color:var(--verde-escuro);
}
.btn-success:hover{
  background-color:var(--verde-escuro);
  border-color:var(--verde-escuro);
}
header.background-img-alpinismo {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%; 
  height: 200px;
  background-image: url('../imagens/alpinismo.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
  background-color: dimgray;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 250px;
  opacity: 50%;
}
header.background-img-trilhas {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%; 
  height: 200px;
  background-image: url('../imagens/trilha-bg.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
  background-color: dimgray;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 250px;
  opacity: 50%;
}
.titulo{
text-align: center;
background-color: lightgreen;
border-style:inset;
}
.conteudo{
text-align: justify;
}
main.container.alp{
  padding: 0px,0px,0px,0px;
}
main.container.trilhas{
  padding: 0px,0px,0px,0px;
}
small.faixa{
  font-family:cursive;
  border: none;
  border-radius: 20px 10px;
  background: yellowgreen;
}
.medalhas{
  font-family:cursive;
  border: none;
  border-radius: 5px 20px;
  background: black;
  color: var(--verde-escuro);
  padding: 5px;
  margin-top: 10px;
}
h1.Principal{
  text-align: center;
  font-family: 'Lucida Handwriting', cursive;
  color: var(--verde);
  margin-top: 50px;
  margin-bottom: 50px;
}